<!DOCTYPE html>
<html lang="en">

	<head>
		
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/static/images/faviconit/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/static/images/faviconit/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/static/images/faviconit/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/static/images/faviconit/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/images/faviconit/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/static/images/faviconit/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/faviconit/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/faviconit/favicon-16.png">
		<link rel="apple-touch-icon" href="/static/images/faviconit/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/images/faviconit/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/images/faviconit/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/images/faviconit/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/images/faviconit/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/images/faviconit/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/images/faviconit/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/images/faviconit/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/faviconit/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/static/images/faviconit/favicon-144.png">
		<meta name="msapplication-config" content="/static/images/faviconit/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

		<title>Three Kings Model</title>
		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" />	
	
		<link rel="stylesheet" type="text/css" href="/static/css/MyFontsWebfontsKit.css">
			
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	</head>

	<body>
		<div class="container">
			<header>
				
				<ul class="logo">
					<li><h3>Gerard Nolan</h3></li>
					<li id="centericon"><a href="/"><img src="/static/images/LogoMaster.jpg" alt="GNolan Logo"/></a></li>		 
					<li><h3>Illustration</h3></li>
				</ul>
				
			</header>

			<div class="jumbotronSmall">
				
				<div class="nav">
					<ul>
						<li><a href="/">Work</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/about">About</a></li>
						<!--<li><a href="#">Blog</a></li>-->	
					</ul>
				</div>
			</div>

			<section>
				<div class="wrapper" id="artworkBody">
					<div class="row">
						<div class="column">
							<h3>Three Kings</h3>
							<p>Self promotional <br>Christmas card. <br><br>
								Each card was die cut and mailed flat. The recipients followed the simple instructions to assemble their own 3D Christmas card.</p>
						</div>

						<div class="centerColumn">
							<img src="/static/images/masters/3Kings.jpg" width="500"/>
						</div>

						<div class="column">
							<a id="rectangleThumbnail" href="/ThreeKingsInner">
								<img src="/static/images/thumbnails/3KingsInner.jpg" width="140">
								<p>Click to view Inner</p>
							</a>
							<br>
							<a id="rectangleThumbnail" href="/ThreeKingsOuter">
								<img src="/static/images/thumbnails/3KingsFront.jpg" width="140">
								<p>Click to view Outer</p>
							</a>
						</div>
					</div>
				</div>
			</section>

			<footer>
				<ul class="social">
					<li>
						<a href="http://facebook.com" id="facebook">
							<img src="/static/images/Facebook.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://twitter.com" id="twitter">
							<img src="/static/images/Twitter.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://ie.linkedin.com/pub/gerard-nolan/80/864/b44" id="linkedin">
							<img src="/static/images/LinkedIn.jpg" alt="GNolan Logo"/>
						</a>
					</li>
				</ul>
			</footer>

		</div>

	</body>

</html>