<!DOCTYPE html>
<!-- Created by Calvin Nolan. Designed by Calvin and Gerard Nolan -->
<html lang="en">

	<head>

		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/static/images/faviconit/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/static/images/faviconit/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/static/images/faviconit/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/static/images/faviconit/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/images/faviconit/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/static/images/faviconit/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/faviconit/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/faviconit/favicon-16.png">
		<link rel="apple-touch-icon" href="/static/images/faviconit/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/images/faviconit/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/images/faviconit/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/images/faviconit/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/images/faviconit/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/images/faviconit/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/images/faviconit/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/images/faviconit/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/faviconit/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/static/images/faviconit/favicon-144.png">
		<meta name="msapplication-config" content="/static/images/faviconit/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" >

		<link rel="stylesheet" type="text/css" href="/static/css/gallerystyle.css" />

		<link rel="stylesheet" type="text/css" href="/static/css/MyFontsWebfontsKit.css">

		<title>Gerard Nolan Illustration</title>

		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="/static/js/motiongallery.js">

		/***********************************************
		* CMotion Image Gallery- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
		* Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
		* This notice must stay intact for legal use
		* Modified by Jscheuer1 for autowidth and optional starting positions
		***********************************************/

		</script>

		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-66371085-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</head>

	<body>
		<div class="container">
			<header>
				
				<ul class="logo">
					<li><h3>Gerard Nolan</h3></li>
					<li id="centericon"><a href="/"><img src="/static/images/LogoMaster.jpg" alt="GNolan Logo"/></a></li>		 
					<li><h3>Illustration</h3></li>
				</ul>
				
			</header>

			<div class="jumbotron">
				
				<div class="nav">
					<ul>
						<li id="currentPage"><a href="">Work</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/about">About</a></li>
						<li><a target="_blank" href="https://www.artfinder.com/artist/gerard-nolan/artworks/category/all-artworks/">Store</a></li>
					</ul>
				</div>

				<div id="motioncontainer" style="position:relative;overflow:hidden;">
					<div id="motiongallery" style="position:absolute;left:0;top:0;white-space: nowrap;">
						<div id="trueContainer" style="white-space: nowrap;">
							<ul>

								<li><a href="/HalloweenDreams"><img src="/static/images/thumbnails/HalloweenThumbnail.jpg" alt="HalloweenDreams" /></a></li>

								<li><a href="/Dreams"><img src="/static/images/thumbnails/SPDThumbnail.jpg" alt="Dreams" /></a></li>

								<li><a href="/MonkeyPuzzleDreams"><img src="/static/images/thumbnails/MonkeyPuzzleThumbnail.jpg" alt="MonkeyPuzzleDreams" /></a></li>

								<li><a href="/TabbyRockingHorse"><img src="/static/images/thumbnails/PrincessThumbnail.jpg" alt="Tabby Twotails Rocking Horse" /></a></li>

								<li><a href="/Tabby"><img src="/static/images/thumbnails/TabbyThumbnail.jpg" alt="Tabby Two Tails" /></a></li>

								<li><a href="/JamesJoyce"><img src="/static/images/thumbnails/JamesJoyceThumbnail.jpg" alt="James Joyce" /></a></li>

								<li><a href="/BuccaneerDreams"><img src="/static/images/thumbnails/BuccaneerThumbnail.jpg" alt="Buccaneer Dreams" /></a></li>

								<li><a href="/Smedley"><img src="/static/images/thumbnails/SmedleyThumbnail.jpg" alt="Smedley" /></a></li>

								<li><a href="/ASadState"><img src="/static/images/thumbnails/ASadStateThumbnail.jpg" alt="A Sad State" /></a></li>

								<li><a href="/RainbowPants"><img src="/static/images/thumbnails/RainbowPantsThumbnail.jpg" alt="Rainbow Pants and the Parrots of Penzance" /></a></li>

								<li><a href="/JonathanSwift"><img src="/static/images/thumbnails/SwiftThumbnail.jpg" alt="Jonathan Swift" /></a></li>

								<li><a href="/PeekAndBoo"><img src="/static/images/thumbnails/PeekAndBooCoverThumbnail.jpg" alt="Peek And Boo" /></a></li>

								<li><a href="/Harley"><img src="/static/images/thumbnails/HarleyThumbnail.jpg" alt="Harley's Daydream" /></a></li>

								<li><a href="/Wrensong"><img src="/static/images/thumbnails/WrensongThumbnail.jpg" alt="Wrensong" /></a></li>

								<li><a href="/BramStoker"><img src="/static/images/thumbnails/BramStokerThumbnail.jpg" alt="Bram Stoker" /></a></li>

								<li><a href="/WBYeats"><img src="/static/images/thumbnails/YeatsThumbnail.jpg" alt="W.B. Yeats" /></a></li>

								<li><a href="/Bunboozle"><img src="/static/images/thumbnails/TheGreatBunboozleThumbnail.jpg" alt="The Great Bunboozle" /></a></li>

								<li><a href="/BunboozleCarousel"><img src="/static/images/thumbnails/BunboozleCarouselThumbnail.jpg" alt="The Great Bunboozle" /></a></li>

								<li><a href="/AutumnGirl"><img src="/static/images/thumbnails/AutumnThumbnail.jpg" alt="Autumn" /></a></li>

								<li><a href="/BirdOfPrayer"><img src="/static/images/thumbnails/BirdOfPrayThumbnail.jpg" alt="Bird Of Pray" /></a></li>		

								<li><a href="/Aras"><img src="/static/images/thumbnails/ArasThumbnail.jpg" alt="Aras" /></a></li>

								<li><a href="/ThreeKings"><img src="/static/images/thumbnails/ThreeKingsThumbnail.jpg" alt="Three Kings" /></a></li>

								<li><a href="/Oscar"><img src="/static/images/thumbnails/OscarThumbnail.jpg" alt="Oscar Wilde" /></a></li>

								<li><a href="/Prison"><img src="/static/images/thumbnails/PrisonThumbnail.jpg" alt="Just Another Day" /></a></li>

								<li><a href="/WishKindle"><img src="/static/images/thumbnails/WishKindleThumbnail.jpg" alt="Wish Kindle" /></a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>

			<footer>
				<ul class="social">
					<li>
						<a href="http://facebook.com/pages/Gerard-Nolan-Illustration/882291668489293" id="facebook">
							<img src="/static/images/Facebook.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://twitter.com/GN_illustration" id="twitter">
							<img src="/static/images/Twitter.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://ie.linkedin.com/pub/gerard-nolan/80/864/b44" id="linkedin">
							<img src="/static/images/LinkedIn.jpg" alt="GNolan Logo"/>
						</a>
					</li>
				</ul>
			</footer>

		</div>

	</body>

</html>