<!DOCTYPE html>
<!-- Created by Calvin Nolan. Designed by Calvin and Gerard Nolan -->
<html lang="en">

	<head>

		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/static/images/faviconit/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/static/images/faviconit/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/static/images/faviconit/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/static/images/faviconit/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/images/faviconit/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/static/images/faviconit/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/faviconit/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/faviconit/favicon-16.png">
		<link rel="apple-touch-icon" href="/static/images/faviconit/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/images/faviconit/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/images/faviconit/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/images/faviconit/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/images/faviconit/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/images/faviconit/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/images/faviconit/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/images/faviconit/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/faviconit/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/static/images/faviconit/favicon-144.png">
		<meta name="msapplication-config" content="/static/images/faviconit/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" >

		<link rel="stylesheet" type="text/css" href="/static/css/gallerystyle.css" />

		<link rel="stylesheet" type="text/css" href="/static/css/MyFontsWebfontsKit.css">

		<title>Gerard Nolan Illustration</title>

		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-66371085-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</head>

	<body>
		<div class="container">
			<header>
				
				<ul class="logo">
					<li><h3>Gerard Nolan</h3></li>
					<li id="centericon"><a href="/"><img src="/static/images/LogoMaster.jpg" alt="GNolan Logo"/></a></li>		 
					<li><h3>Illustration</h3></li>
				</ul>
				
			</header>

			<div class="jumbotronSmall">
				<div class="nav">
					<ul>
						<li><a href="/">Work</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/about">About</a></li>
						<li id="currentPage"><a href="/shop">Store</a></li>
					</ul>
				</div>
			</div>

			<div class="shopCenter">
				<div class="shopInfo">
					<p><a href="/contact">Contact me here</a> if you're interested in purchasing a print.</p>
				</div>

				<div class="shopItems">
					<table>
						<tr style="margin-bottom: 40px;">
							<td>
								<a href="/JamesJoyce"><img src="/static/images/masters/JamesJoyce.jpg" style="width:200px;"/></a>
								<h3>James Joyce</h3>
								<h4 style="margin-top: -15px;">Giclée print</h4>
								<p>€200</p>
								<h4 style="font-size:1em; margin-top:-10px">From a limited edition of 150</h4>
								<div class="printInfo">
									<h4>Printed on Hahnemuhle Cotton Rag, 270 gsm, </h4>
									<h4>Size: 50 × 40 cm, 33 × 24.5 cm (image size) 
									<h4>Signed and numbered on the front</h4>
								</div>
							</td>
							<td>
								<a href="/Oscar"><img src="/static/images/masters/Oscar.jpg" style="width:200px;"/></a>
								<h3>Oscar Wilde</h3>
								<h4 style="margin-top: -15px;">Giclée print</h4>
								<p>€200</p>
								<h4 style="font-size:1em; margin-top:-10px">From a limited edition of 150</h4>
								<div class="printInfo" style="margin-left:65px">
									<h4>Printed on Hahnemuhle Cotton Rag, 270 gsm, </h4>
									<h4>Size: 50 × 40 cm, 33 × 24.5 cm (image size) 
									<h4>Signed and numbered on the front</h4>
								</div>
							</td>
							<td>
								<a href="/WBYeats"><img src="/static/images/masters/WBYeats.jpg" style="width:200px;"/></a>
								<h3>W. B. Yeats</h3>
								<h4 style="margin-top: -15px;">Giclée print</h4>
								<p>€200</p>
								<h4 style="font-size:1em; margin-top:-10px">From a limited edition of 150</h4>
								<div class="printInfo">
									<h4>Printed on Hahnemuhle Cotton Rag, 270 gsm, </h4>
									<h4>Size: 50 × 40 cm, 33 × 24.5 cm (image size) 
									<h4>Signed and numbered on the front</h4>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<a href="/JonathanSwift"><img src="/static/images/masters/JonathanSwift.jpg" style="width:200px;"/></a>
								<h3>Jonathan Swift</h3>
								<h4 style="margin-top: -15px;">Giclée print</h4>
								<p>€200</p>
								<h4  style="font-size:1em; margin-top:-10px">From a limited edition of 150</h4>
								<div class="printInfo">
									<h4>Printed on Hahnemuhle Cotton Rag, 270 gsm, </h4>
									<h4>Size: 50 × 40 cm, 33 × 24.5 cm (image size) 
									<h4>Signed and numbered on the front</h4>
								</div>
							</td>
							<td>
								<br><br>
								<a href="/Aras"><img src="/static/images/masters/Aras.jpg" style="width:275px;"/></a>
								<h3 style="margin-top: 74px">Áras an Uachtaráin</h3>
								<h4 style="margin-top: -15px;">Giclée print</h4>
								<p>€200</p>
								<h4 style="font-size:1em; margin-top:-10px;">From a limited edition of 150</h4>
								<div class="printInfo" style="margin-left:65px">
									<h4>Printed on Hahnemuhle Cotton Rag, 270 gsm, </h4>
									<h4>Size: 50 × 40 cm, 33 × 24.5 cm (image size) 
									<h4>Signed and numbered on the front</h4>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<footer>
				<ul class="social">
					<li>
						<a href="http://facebook.com/pages/Gerard-Nolan-Illustration/882291668489293" id="facebook">
							<img src="/static/images/Facebook.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://twitter.com/GN_illustration" id="twitter">
							<img src="/static/images/Twitter.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://ie.linkedin.com/pub/gerard-nolan/80/864/b44" id="linkedin">
							<img src="/static/images/LinkedIn.jpg" alt="GNolan Logo"/>
						</a>
					</li>
				</ul>
			</footer>

		</div>

	</body>

</html>