<!DOCTYPE html>
<html lang="en">

	<head>

		<title>Tabby Twotails</title>
		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" />	

		
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>	

	</head>

	<body>
		<div class="container">
			<header>
				
				<ul class="logo">
					<li><h3>Gerard Nolan</h3></li>
					<li id="centericon"><a href="/"><img src="/static/images/LogoMaster.jpg" alt="GNolan Logo"/></a></li>		 
					<li><h3>Illustration</h3></li>
				</ul>
				
			</header>

			<div class="jumbotronSmall">
				
				<div class="nav">
					<ul>
						<li><a href="/">Work</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/about">About</a></li>
						<!--<li><a href="#">Blog</a></li>-->	
					</ul>
				</div>
			</div>

			<section>
				<div class="wrapper" id="artworkBody">
					<div class="row">
						<div class="column">
							<h3>Tabby Twotails</h3>
							<p>Cover Illustration from a picture book I&#39m working on</p><br>
							<p style="font-size:.9em">
								&#8216Tabby Twotails felt glad <br><br>
								With the life that he&#39d had, <br><br>
								Being half-cat, half-toy box <br><br>
								And more than half-mad.&#8217</p>

						</div>

						<div class="centerColumn">
							<img src="/static/images/masters/Tabby.jpg" width="630"/>
						</div>

						<div class="column">
							<a id="diamondThumbnail" href="/TabbyTypography">
								<img src="/static/images/thumbnails/TabbyTypeThumbnail.jpg" />
							</a>
						</div>
					</div>
				</div>
			</section>

			<footer>
				<ul class="social">
					<li>
						<a href="http://facebook.com" id="facebook">
							<img src="/static/images/Facebook.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://twitter.com" id="twitter">
							<img src="/static/images/Twitter.jpg" alt="GNolan Logo"/>
						</a>
					</li>
					<li>
						<a href="http://ie.linkedin.com/pub/gerard-nolan/80/864/b44" id="linkedin">
							<img src="/static/images/LinkedIn.jpg" alt="GNolan Logo"/>
						</a>
					</li>
				</ul>
			</footer>

		</div>

	</body>

</html>